.container main {
    flex: 3;
    background-color: #ffffff;
    padding: 0 10px;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left; 
}

th, td {
    border: 1px solid black;
    padding: 12px 15px; 
    word-wrap: break-word; 
}

th {
    background-color: #f2f2f2fb; 
}